<%= form_with(model: audio_post, local: true) do |form| %>
  <% if audio_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audio_post.errors.count, "error") %> prohibited this audio_post from being saved:</h2>

      <ul>
      <% audio_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :audio_post_user_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :audio_post_content %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :audio_post_created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :audio_post_updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
