<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @audio_post.user_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @audio_post.content %>
</p>

<p>
  <strong>picture:</strong>
  <%= image_tag @audio_post.picture.url if @audio_post.picture? %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @audio_post.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @audio_post.updated_at %>
</p>

<p>
  <strong>audio</strong>
  <audio src="<%= @audio_post.audio.url %>" controls>
    <p><a src="<%= @audio_post.audio.url %>"></a></p>
  </audio>
</p>

<%= link_to 'Edit', edit_audio_post_path(@audio_post) %> |
<%= link_to 'Back', audio_posts_path %>
